// color
$color-white: #fff;
$color-white-e: #eee;
$color-gray: gray;
$color-dark: #000;
$color-dark-2: #444;
$color-gold: #c2964d;
$color-red: red;
$color-blue: #3586fd;

// font-weight
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-7: 700;